*{
    /* background-color: white; */
    /* background: transparent; */
}
.body{
    /* background-color: white; */
}
.banner{
    background-image: url('images/bgbanner.png');
    background-size: cover;
    border-radius: 50px;
}